body {
    width: 330px;
    height: 400px;
    padding: 0px 5px;
}

#newspapers {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.newspaper-icon {
    width: 100px;
    height: auto;
}
